name: Main Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: .NET Build
      run: dotnet build -c TestRelease

    - name: CachedEfCore Tests
      run: dotnet test -c TestRelease --no-build --logger GitHubActions
